html {
  height: 100%;
}

body {
  background: url(../images/bg.png);
  font-size: 15px;
  color: #333;
  margin: 0;
  height: 100%;
  min-width: 1300px;
}

ol {
  margin: 0;
}

#audio {
  display: none;
}

.clockwise {
  animation:clockwise 3s linear infinite;
}

.anticlockwise {
  animation:anticlockwise 3s linear infinite;
}

@keyframes clockwise {
  0%  {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes anticlockwise {
  0%  {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(-360deg);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 725px;
  text-align: center;
}

.list {
  counter-reset: li;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.item {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #ddd;
  color: #444;
  border-radius: 1em;
}

.item:hover {
  background: #eee;
}

.item:hover:before {
  transform: rotate(360deg);
}

.item:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

.imusic-controls {
  display: inline-block;
  width: 540px;
  background: linear-gradient(to bottom, rgba(170,170,170,0.35) 0%,rgba(255,255,255,0.44) 50%,rgba(255,255,255,0.53) 100%);
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom-color: rgba(255,255,255,0.6);
  padding: 8px;
  height: 54px;
  vertical-align: top;
  margin: 20px;
  box-shadow:
  inset 0 1px 0px rgba(0,0,0,0.05),
  0 1px 0 rgba(255,255,255,0.8),
  0 -1px 0 rgba(255,255,255,0.4),
  inset 0 2px 19px rgba(0,0,0,0.05),
  0 2px 1px rgba(0,0,0,0.06);
  border-radius: 12px;
}

.imusic-controls li {
  display: block;
  float: left;
  height: 30px;
  width: 80px;
  line-height: 55px;
  padding: 10px;
  cursor: pointer;
  background: #ddd url(../images/metal.jpg) no-repeat center top;
  box-shadow:
  inset 0 0 0 1px rgba(0,0,0, 0.2),
  inset 0 0 1px 2px rgba(255,255,255,0.9),
  inset 0 -6px 5px rgba(0,0,0,0.1),
  0 6px 7px rgba(0,0,0,0.3),
  0 4px 1px rgba(0,0,0,0.5);
}

.imusic-controls li:first-child {
  border-radius: 8px 0 0 8px;
}

ul.imusic-controls li:last-child {
  border-radius: 0px 8px 8px 0px;
}

ul.imusic-controls li.imusic-control-play {
  width: 120px;
}

ul.imusic-controls li span {
  line-height: 30px;
  float: left;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
}

ul.imusic-controls li:hover {
  box-shadow:
  inset 0 0 0 1px rgba(0,0,0, 0.2),
  inset 0 0 1px 2px rgba(255,255,255,0.9),
  inset 0 -10px 15px rgba(0,0,0,0.1),
  0 6px 7px rgba(0,0,0,0.3),
  0 4px 1px rgba(0,0,0,0.5);
}

.music-list {
  height: 520px;
  overflow-y: auto;
  text-align: left;
  max-width: 450px;
}

.imusic-tape {
  width: 586px;
  height: 379px;
  margin: 30px auto 0;
  position: relative;
}

.imusic-tape-back {
  height: 100%;
  background: transparent url(../images/cs_back.png) no-repeat center center;
}

.imusic-tape-wheel {
  width: 125px;
  height: 125px;
  position: absolute;
  top: 110px;
  border-radius: 50%;
}

.imusic-tape-wheel-left {
  left: 109px;
  box-shadow: 0 0 0 70px #000;
}

.imusic-tape-wheel-right {
  right: 113px;
}

.imusic-tape-wheel div {
  height: 100%;
  background: transparent url(../images/cs_wheel.png) no-repeat center center;
}

.imusic-tape-front {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent url(../images/cs_front.png) no-repeat center center;
  top: 0;
}

.imusic-tape-front span {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 83px;
  left: 67px;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
}

.imusic-volume-wrap {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, rgba(170,170,170,0.35) 0%,rgba(255,255,255,0.44) 50%,rgba(255,255,255,0.53) 100%);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  padding: 8px;
  box-shadow:
  inset 0 1px 0px rgba(0,0,0,0.05),
  0 1px 0 rgba(255,255,255,0.6),
  0 -1px 0 rgba(255,255,255,0.4),
  inset 0 2px 19px rgba(0,0,0,0.05),
  0 2px 1px rgba(0,0,0,0.06);
}

.imusic-volume-wrap:after {
  content: 'Volume';
  margin-top: 15px;
  display: block;
}

.imusic-controls li,
.imusic-volume-wrap:after {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.imusic-controls .imusic-control-pressed {
  height: 30px;
  background-image: url(../images/metal_dark.jpg);
  margin-top: 4px;
  box-shadow:
  inset 0 0 0 1px rgba(0,0,0, 0.2),
  inset 0 0 5px 1px rgba(255,255,255,0.5),
  inset 0 -10px 15px rgba(0,0,0,0.2),
  0 7px 5px rgba(255,255,255,0.5);
}
